<!-- src/app/shared/components/grid/grid-column-selector/grid-column-selector.component.html -->
<div
  class="column-selector overflow-y-auto h-48 p-4 bg-white dark:bg-gray-800 rounded-md shadow-lg border border-gray-300/30"
>
  <div class="flex justify-between items-center mb-4">
    <div class="flex items-center">
      <input
        type="checkbox"
        id="select-all-columns"
        [checked]="selectAll"
        (change)="toggleSelectAll($event)"
        class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600"
      />
      <label
        for="select-all-columns"
        class="ml-2 text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Toggle All
      </label>
    </div>

    <button
      (click)="resetToDefault()"
      class="text-sm text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-300 focus:outline-none"
    >
      Reset to Default
    </button>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-3"
  >
    <div *ngFor="let column of columns" class="flex items-center">
      @if (column.permission){
      <ng-container *hasPermission="column.permission">
        <input
          type="checkbox"
          [id]="'column-' + column.field"
          [checked]="isColumnSelected(column)"
          (change)="toggleColumn(column, $event)"
          class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          [for]="'column-' + column.field"
          class="ml-2 text-sm text-gray-700 dark:text-gray-200 truncate"
        >
          {{ column.header }}
        </label>
      </ng-container>
      } @else{
      <input
        type="checkbox"
        [id]="'column-' + column.field"
        [checked]="isColumnSelected(column)"
        (change)="toggleColumn(column, $event)"
        class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600"
      />
      <label
        [for]="'column-' + column.field"
        class="ml-2 text-sm text-gray-700 dark:text-gray-200 truncate"
      >
        {{ column.header }} </label
      >}
    </div>
  </div>

  <div
    *ngIf="selectedColumns.length === 0"
    class="mt-3 text-sm text-red-600 dark:text-red-400"
  >
    Please select at least one column to display.
  </div>
</div>
