<aside
  [ngClass]="expanded ? 'w-64' : 'w-16'"
  class="bg-navbar shadow-lg transition-all duration-300 ease-in-out h-screen z-20 flex flex-col overflow-hidden"
>
  <div class="h-12 flex items-center px-3 border-b border-gray-200/20">
    <div
      *ngIf="expanded"
      class="flex items-center space-x-2 text-lg font-bold text-gray-800 dark:text-gray-100"
    >
      <div class="text-white flex-shrink-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
          />
        </svg>
      </div>
      <span class="truncate text-white">{{ environment.nameOfApp }}</span>
    </div>
    <div *ngIf="!expanded" class="text-white mx-auto flex-shrink-0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
        />
      </svg>
    </div>
  </div>

  <nav class="flex-1 py-1 overflow-y-auto overflow-x-hidden">
    <ul class="space-y-1 px-1">
      <li *ngFor="let item of navItems">
        <ng-container *hasPermission="item.permission">
          <a
            [routerLink]="item.route"
            routerLinkActive="active-nav-item"
            [routerLinkActiveOptions]="{ exact: false }"
            class="flex items-center px-3 py-2 rounded-md transition-colors relative nav-item"
            [class.collapsed]="!expanded"
          >
            <div
              class="icon-container"
              [class.mr-3]="expanded"
              [class.mx-auto]="!expanded"
            >
              <img
                [src]="'/icons/' + item.icon + '.svg'"
                class="h-5 w-5 icon-img"
                [alt]="item.label + ' icon'"
              />
            </div>

            <span
              *ngIf="expanded"
              class="flex-1 whitespace-nowrap !text-sm !font-light text-white label"
              >{{ item.label }}</span
            >

            <span
              *ngIf="expanded && item.label === 'Tickets'"
              class="badge ticket-badge"
            >
              22
            </span>

            <span
              *ngIf="expanded && item.label === 'Calendar'"
              class="badge calendar-badge"
            >
              Today {{ todayEventsCount() }}
            </span>

            <div *ngIf="!expanded" class="tooltip">
              <div class="tooltip-arrow"></div>
              {{ item.label }}

              <span
                *ngIf="item.label === 'Tickets'"
                class="tooltip-badge ticket-tooltip-badge"
              >
                22
              </span>

              <span
                *ngIf="item.label === 'Calendar'"
                class="tooltip-badge calendar-tooltip-badge"
              >
                Today {{ todayEventsCount() }}
              </span>
            </div>
          </a>
        </ng-container>
      </li>
    </ul>
  </nav>

  <div class="p-3 border-t border-gray-200/20">
    <button
      (click)="toggleSidebar()"
      class="w-full flex items-center justify-center p-1.5 text-white hover:text-gray-800 dark:hover:text-white rounded-md hover:bg-gray-100 dark:hover:bg-gray-700/20 transition-colors"
      aria-label="Toggle sidebar"
    >
      <svg
        *ngIf="expanded"
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M11 19l-7-7 7-7m8 14l-7-7 7-7"
        />
      </svg>
      <svg
        *ngIf="!expanded"
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 5l7 7-7 7M5 5l7 7-7 7"
        />
      </svg>
    </button>
  </div>
</aside>
