:host {
  display: block;
  height: calc(
    100vh - 100px
  ); /* Adjust the 100px based on your header height */
  overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar-container {
  flex: 1;
  overflow: hidden;
}
